
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 
}
body{
font-family: "Roboto", sans-serif;
font-size: 16px;
 color:#3a4a5a;

}

header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
   
} 
.btnLunaStyle {
  cursor: pointer;
}
    /*MODO OSCURO*/

    .oscuro{
      background-color: #3a4a5a;
     
      }
    
.flexItem:nth-child(2){
    flex-grow: 2;
}

/* .navbar{
    display: inline-flex;
    flex-direction: row;
 }  */
 
 nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
 }
 nav li{
    flex: 1;
    padding: 10px;
    text-align: center;
 }



ul,li,a{
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    color: #3a4a5a;
}
/*ESTILOS MAIN principal*/
#mainPrincipal{
   min-height: 100vh; /**/
   margin-right: auto;
   margin-left: auto;
   /*margin-bottom: 40px;*/

    }
    
    #mainPrincipal section { 
      
      /*  box-sizing: content-box;*/
        width: 100%;
 
        
    }
    #mainPrincipal section img{
        object-fit: cover;/*ver*/
       /* height: auto;/*ver*/
    }
    .banner{
        max-height: 600px;
        /*height: 700px;*/
    }
  .containerCards{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%; /**/
    height: auto;/**/
   /* box-sizing: content-box; /**/
   /**/
  }
 /*reutilizable*/
  .subtitulo h2{
    text-align: center;
    margin: 15px;
  }
   .card{
    min-height: 400px;
    width: 300px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 5px;
    margin: 20px 20px;/**/
    /*padding: 10px;*/
    transition: all 400ms ease;
    background-color:#fff;
   }
   .card:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
 
   /*overflow: hidden;*/
   }
   .card img{
    flex-grow: 1;/**/
    flex-shrink: 1;/**/
   }
   .card h2{
    margin: 5px  0px 5px 0px;
   }
   .btn{
    color:white;
    background-color: #242129;
    border-radius: 4px;
    padding: 10px;
    display: inline-block;
    margin: 5px 0px 5px 0px;
   }
    
   .btnMain {
    margin: 20px;
    display:flex;
    justify-content: center;
   }
   #sectionInformativo{
   
   /* background-color: rgb(195, 216, 216);*/
    min-height: 200px;
    display: grid;
    grid-template: 1fr 1fr/ 300px;
    /* 145px 50px/ 400px;*/
    /*grid-gap: 20px;
   /* padding: 10px;
    width: 150px;*/
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    
   }
  #sectionInformativo > div{
    background-color: #eef1f5;
    border: 1px solid rgba(0, 0, 0, 6%);
    border-radius: 5px;
  }
  #sectionInformativo p{
    text-align: center;
    margin: 15px;
  }
  .itemInformativo img{
    width: 100%;
    max-height: 80px;
    position: relative;
    margin-top: 10px;
  }
   /* ESTILOS PRODUCTOS*/
   #containerSuma{
    position: relative; 
    display: inline-block;
   }
   #carritoSuma{
    background-color: #554f5f;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    right: 1px;
    color: #ffffff;
   }
   #containerProductos{
    min-height: 400px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 15px;
   }

   .sectionProd{
    width: 80%;
    text-align: center;
    background-color: rgb(176, 189, 189);
    height: 40px;
    margin: 15px;

   }
   .sectionProd .subtitulo{
    font-size: medium;
    padding: 12px;
    
   }
  
  
/* ESTILOS FOOTER*/
footer{
    position: absolute;
    min-width: 300px; /**/
    padding-top: 20px; /**/
    margin-top: 10px;/**/
    width: 100%;
    padding-bottom: 10px;
}

#containerFooter{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}
.subtitulo{
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
#redes {
  margin-block: 10px;
  
}
 #redes a img {
    padding: 10px;
    width: 50px;
    transition: all 500ms;
 }
 #redes a img:hover{
  transform: scale(1.2);
 }
 #menu ul li{
    padding: 10px;
    text-align: center;
 }



/* ESTILOS CONTACTO*/
#mainContacto{
    width: 100%;
    display:flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap; 
   /* padding-block: 10px;*/
}

/*MODAL*/
.mainModal{
  display:flex;/*o none*/
  position: fixed; z-index: 1;
   left: 0; 
   top: 0; 
   right:0;
   bottom:0;
   overflow: auto; 
   background-color: rgba(156, 134, 185, 0.4);
   opacity: 0; 
   pointer-events: none;
  
}
.contenidoModal{
  background-color: #fefefe; 
  margin:  auto; /* Centrado */
  padding: 20px; 
  border: 1px solid #888; 
  width: 90%;
  max-height:90%;
  max-width:400px; /* Ancho máximo */
  border-radius: 6px;
  display: grid;
  gap: 1em;
  place-items: center;
  grid-auto-columns: 100%;
}

.cerrar { 
  color: #fff0f0;
 background-color:#554f5f;
 padding: 10px;
  font-size: 15px;
  font-weight: 300;
  border: 1px solid;
  border-radius: 4px;
  display: inline-block
} 
.cerrar:hover, 
.cerrar:focus { color: #554f5f;
  background-color:#fff0f0;
    text-decoration: none;
    cursor: pointer; 
  }
.classModal{
  opacity: 1;
  pointer-events: unset;

}

 section form{
    width: 400px;
    /*margin-left: 30px;
     display: inline-block;
    justify-content: center;
    box-sizing: inherit; */
   /* flex-basis: 50%; */
}
.formGrup{
  position: relative;
  width: 100%;
  float: left; 
 /* margin-left: 20px;*/
}
label{
    float: left;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}
textarea,
input{
    padding: 10px;
    width: 80%;
    resize: none;
    
}
.buttonContacto{
    background: #554f5f;
    border: 0;
    font-size: 12px;
    text-transform: uppercase;
    padding: 10px;
    box-shadow: none;
    border-radius: 4px;
    color: #fff;
    padding: 10px;
    margin: 10px;
  
}
 /* MEDIA QUERIES*/

 @media (max-width: 480px)  {
  #mainContacto section{
    width: 300px;
    text-align: center;
  }
  section form{
    width: 300px;
   
  }
  iframe{
    width: 300px;
  }
  .containerFooter{
   margin-bottom: 15px;
  }
  /*.formGrup{
    margin-left: 30px;
  }
  iframe{
    width: 250px;
  }*/
  
 }
 